apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: pvc-pe-audio
spec:
  storageClassName: {{ .Values.persistence.storageClassName }}
  accessModes:
    - ReadWriteOnce
  volumeMode: Filesystem
  resources:
    requests:
      storage: {{ .Values.persistence.size | quote }}
